* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.flex-container {
    width: 100%;
    height: 50px;
    background: tomato;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
}

.flex-item {
    width: 13%;
    height: 50px;
    background: teal;
    border: 1px solid white;
    
}

.flex-item > p {
    text-align: center;
    padding: 0;
}
