* {
    box-sizing: border-box;
}

body {
    padding: 0 20px;
}

.site-header {
    width: 100%;
    height: 80px;
    background: rgb(231, 226, 226);
    position: fixed;
    top: 0;
    left: 0;
    padding:30px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box {
    background: black;
    width: 140px;
    height: 40px;
    margin-left: 5px;
}

.site-nav {
    display: flex;
    justify-content: flex-end;
}


@media screen and (min-width: 800px) {
    .site-header {
        height: 120px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .site-nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    

    .header-box {
        width: 250px;
        height: 60px;
    }
} 
    
@media screen and (min-width: 1440px) {

    .header-box {
        margin-left: 40px;
    }

    .site-nav {
        margin-right: 20px;
    }
}